<main class="contenedor panel-administracion">
    <h1><% pageName %></h1>
    <div class="contenedor-botones">
        <a href="/new-group" class="btn btn-amarillo">New Group</a>
        <a href="/new-meeti" class="btn btn-azul">New Meeti</a>
        <a href="/edit-profile" class="btn btn-rosa">Edit Profile</a>
        <a href="/profile-image" class="btn btn-amarillo">Profile Image</a>
    </div>

    <div class="seccion-admin">
        <h2>Next Meeti's</h2>
        <% if(meeti.length > 0) { %>
        <ul>
            <% meeti.forEach(meet => { %>
            <li>
                <div class="informacion-admin">
                    <% moment.locale();  %>
                    <% const fullDate = meet.date + ' ' + meet.hour %>
                    <p class="fecha"><%= moment(fullDate).format('LLLL'); %></p>
                    <a href="/meeti/<%= meet.slug %>" target="_blank">
                        <h3><%= meet.title %></h3>
                    </a>
                    <small><%= meet.attendees.length %> Attendees </small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="/edit-meeti/<%= meet.id %>" class="btn btn-verde">Edit</a>
                    <a href="/attendees/<%= meet.id  %>" class="btn btn-azul2">Attendees</a>
                    <a href="/delete-meeti/<%= meet.id %>" class="btn btn-rojo">Delete</a>
                </div>
            </li>
            <%  }) %>
        </ul>
        <% } else { %>
            <p>You don't have any Meeti yet</p>
        <% } %>
    </div>

    <div class="seccion-admin">
        <% if(groups.length) {%>
            <h2>Your Groups</h2>
            <ul>
                <% groups.forEach(group => { %>
                <li>
                    <div class="informacion-admin">
                        <h3><%= group.name %></h3>
                    </div>
                    <div class="acciones contenedor-botones">
                        <a href="/edit-group/<%= group.id %>" class="btn btn-verde">Edit</a>
                        <a href="/image/<%= group.id %>" class="btn btn-azul2">Imagen</a>
                        <a href="/delete-group/<%= group.id %>" class="btn btn-rojo">Delete</a>
                    </div>
                </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>You do not have any created group</p>
        <% } %>
    </div>

    <div class="seccion-admin">
        <h2>Previous Meeti's</h2>
        <% if(pastMeeti.length > 0) { %>
        <ul>
            <% pastMeeti.forEach(meet => { %>
            <li>
                <div class="informacion-admin">
                    <% moment.locale();  %>
                    <% const fullDate = meet.date + ' ' + meet.hour %>
                    <p class="fecha"><%= moment(fullDate).format('LLLL'); %></p>
                    <h3><%= meet.title %></h3>
                    <small><%= meet.attendees.length %> Attendees </small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="/edit-meeti/<%= meet.id %>" class="btn btn-verde">Edit</a>
                    <a href="/meeti-attendees/<%= meet.id  %>" class="btn btn-azul2">Attendees</a>
                    <a href="/delete-meeti/<%= meet.id %>" class="btn btn-rojo">Delete</a>
                </div>
            </li>
            <%  }) %>
        </ul>
        <% } else { %>
            <p>You don't have any previous Meeti yet</p>
        <% } %>
    </div>
</main>